*{
    font-family:sans-serif;
    margin: 0;
}

.container{
    /* margin: 0rem 1rem; */
    background-color: #0d9488  ;
    padding: 1rem;
}
.unordered-list{
    list-style: none;
    text-align: right;
}
.list{
    display: inline;
}
.link{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

section{
    padding: 2rem;
}
.section-container{
    text-align: center;
    background-color: #e2e8f0;
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}
p{
    margin-top: 2rem;
}
button{
    padding: 0.4rem 0.6rem;
    border-radius: 1rem;
    background-color: #22d3ee;
    margin-top: 0.5rem;
}
footer{
    background-color: #0d9488;
    padding: 2rem 1rem;
    text-align: center;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}